body{
    background-color: #F7F7F7;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 10;
    font-style: normal;
}
/*Seccion Navegacion*/

nav{
    display: flex;
    justify-content: center;
}
#div-nav{
    list-style: none;
    display: flex;
    align-items: center;
    width: 99%;
    justify-content: space-between;
}
#div-titulo-e-imagen{
    display: flex;
    align-items: center;
    justify-content: left;
}
#div-titulo-e-imagen a{
    text-decoration: none;
    color: white;
}
#div-titulo-e-imagen h1{
    text-decoration: none;
    color: white;
    background-color: #0078D7;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    width: 50px;
}
#titulo-nav{
    display: flex;
    justify-content: left;
}

/*Division de incio, sobre nosotros etc.*/
#div-ul-li{
    display: inline-flex;
    justify-content: right;
    align-items: center;
}
#div-ul-li ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

/*
-----------------
Seccion Central, titulo y campo de texto donde se pone el nombre 
-----------------
*/
#sect-titulo-central h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    width: 100%;
    margin-bottom: 0;
}
#span-titulo-disk{
    display: flex;
    color:#0078D7;
}
#parrafo-titulo-central{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color : #393E46;
}
#parrafo-titulo-ingresa-nombre{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.541);
}
#input-central{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
}
#input-central input{
    width: 300px;
    height: 30px;
    font-size: 20px;
}
#boton-ingresar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}