<header class="admin-header">
    <span class="admin-boton-volver"><a class="boton-volver">←</a></span>
    <nav class="admin-nav">
        <ul class="admin-nav-list">
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/index">Ver</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/consultar">Consultar id</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/crear">Crear</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/modificar">Modificar</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/eliminar">Eliminar</a></li>
        </ul>
    </nav>
</header>
<script>
    botonVolver = document.querySelector('.boton-volver');
    botonVolver.addEventListener('click', () =>{
        window.location.href = "http://127.0.0.1:5500/tpIntegradorFront/index.html";
    });
</script>   