<header class="admin-header">
    <nav class="admin-nav">
        <ul class="admin-nav-list">
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/index">Ver</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/consultar">Consultar id</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/crear">Crear</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/modificar">Modificar</a></li>
            <li class="admin-nav-item"><a class="admin-nav-link" href="/dashboard/eliminar">Eliminar</a></li>
        </ul>
    </nav>
</header>